
.editor_button {
	cursor: hand; 
	border:#FFFFFF solid 1px; 
	height:32px;
}
.editor_button_hover {
	cursor: hand; 
	background-color: #FFD5D5; 
	border:#000000 solid 1px; 
	height:32px;
}

#buttons_panel img{
vertical-align:middle;
}


#edited_html{display:block;}
#editor_frame{display:none;}


#btnHtml
{
    display:none;
    margin:0px;
    padding:0px;
}

#btnView
{
    display:block;
    margin:0px;
    padding:0px;
}